[amzn2-core]
name=amzn2-core
mirrorlist=http://repo.us-west-2.amazonaws.com/latest/main/mirror.list
mirrorlist_expire=300
metadata_expire=300
priority=10
failovermethod=priority
fastestmirror_enabled=1